In [1]:
import pandas as pd
from pandas import Series,DataFrame

# series本身相当于一个字典

In [2]:
obj = Series([4,7,-5,2])

## 数据结构为index：value

In [3]:
obj

0    4
1    7
2   -5
3    2
dtype: int64

## 把字典转变为Series

In [4]:
sdata = {'Ohio': 35000, ' Texas': 71000, 'Oregon': 16000, ' Utah':0}
obj3 = Series(sdata)
# 只显示index为state列表里面的数据
state = ['California' , 'Ohio' , 'Oregon' , 'Texas']
obj4 = Series(sdata,index=state)    
print obj3
print '\n'
print obj4

 Texas    71000
 Utah         0
Ohio      35000
Oregon    16000
dtype: int64


California        NaN
Ohio          35000.0
Oregon        16000.0
Texas             NaN
dtype: float64

## 查看index和values

In [5]:
print obj3.index,'\n'
print obj3.values,'\n'

Index([u' Texas', u' Utah', u'Ohio', u'Oregon'], dtype='object')

[71000     0 35000 16000]

## 缺失值处理

In [6]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas             NaN
dtype: float64

In [7]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas          True
dtype: bool

## 指定某一个index的value

In [8]:
obj4["California"] = 1000

obj4

California     1000.0
Ohio          35000.0
Oregon        16000.0
Texas             NaN
dtype: float64